    .foto{
         width: 30%
    }

    body{ 
        background-color:   #279e70
        display: flex;
    
    align-items: centeer;
    justify-content: space
    }

    div{ margin: 19px;
       padding: 2px;      
        
    }
